
body {
    margin: 0;
    padding: 0;
    direction: rtl;
}
header {
    height: 75px;
    background-color: aqua;
    display: flex;
    align-items: center;
    padding-inline: 25px;
    margin-bottom: 25px;
}

.home {
    width: 1200px;
    margin-inline: auto;
}

a {
    text-decoration: none;
}

& .image {
    width: 250px;
    aspect-ratio: 16/9;
}

.first-section {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 4%;
    align-items: end;

    & .post {
        width: 200px;
    }
}

.second-section {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 20% 70%;
    column-gap: 10%;

    & .post {
        width: 200px;
    }

    & .right {
    }

    & .left {
    }

    & .imgAd {
        width: 100%;
    }
}